<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="com.thoughtworks.pos"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/letusgo?useUnicode=true&amp;characterEncoding=utf-8" />
        <property name="username" value="zhangwei" />
        <property name="password" value="123" />
    </bean>

    <bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <bean id="categoryDao" class="com.thoughtworks.pos.dao.impl.CategoryDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource" />
        <constructor-arg name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
    </bean>

    <bean id="itemDao" class="com.thoughtworks.pos.dao.impl.ItemDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource" />
        <constructor-arg name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
    </bean>

    <bean id="promotionDao" class="com.thoughtworks.pos.dao.impl.PromotionDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource" />
        <constructor-arg name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
    </bean>

    <bean id="itemService" class="com.thoughtworks.pos.service.ItemServiceImpl">
        <constructor-arg name="categoryDao" ref="categoryDao" />
        <constructor-arg name="itemDao" ref="itemDao" />
        <constructor-arg name="promotionDao" ref="promotionDao" />
    </bean>

    <bean id="pos" class="com.thoughtworks.pos.Pos">
        <property name="itemService" ref="itemService" />
    </bean>

    <bean id="scanner" class="com.thoughtworks.pos.util.Scanner"></bean>
</beans>